* {
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Abel', sans-serif;*/
    /*box-sizing: border-box;*/
}
body{
    margin: auto;
}
.container {
    /*width: 100%;*/
    /*height: 100vh;*/
}
.abel{
    font-family: 'Abel', sans-serif;
}
.anton{
    font-family: 'Anton', sans-serif;
}
.top-row {
    height: 25px;
}
.white-row {
    height: 50px;
}
.grey-row {
    height: 25px;
}
.stack-logo {
    /*position: absolute;*/
    float: left;
    margin-top: 15px;
    z-index: 1;

}
nav {

}
ul {
    display: inline-flex;
    list-style-type: none;
    /*font-style: normal;*/
    flex-direction: row;
    padding-left: 0;
    color:black;

}
li {
    padding: 1em;
    justify-content: space-between;

}
li a {
    color: black;
}
nav:hover {

}

h1 {
    /*padding-top: 50px;*/
    padding-bottom: 50px;
}

#select-w {
    padding: 1em;
}

#feat-p {
    padding: 0;
    margin-left: 1em;
}
h5 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#circlei-lg {
    height: 500px;
}
.circle-red {
    background-color: #e6563b;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 8px;
}

.circle-orange {
    background-color: #dea03d;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 8px;
}

.circle-green {
    background-color: #7cb06c;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border-color: white;
    margin: 8px;
}

.circle-teal {
    background-color: #008ba9;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 8px;
}
.horz-rule {
    height: 50px;
}

section {
    width:91vw

}
.img-div {
    border: 15px
}
/*small icons*/

.sm-icon {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 1.2em;
    margin: 1em;
    width: 18px;
    height: 18px;
}
div#sm-design-icon.sm-icon {
    border:1px solid #e6563b;
    background-color: #e6563b;
   ;
}
div#sm-develop-icon.sm-icon {
    border:1px solid #dea03d;
    background-color: #dea03d;

}
div#sm-support-icon.sm-icon {
    border:1px solid #7cb06c;
    background-color: #7cb06c;

}
div#sm-host-icon.sm-icon {
    border:1px solid #00aba9;
    background-color: #00aba9;

}