
body{
    background: #e6e6e6;
}

.abel{
    font-family: 'Abel', sans-serif;
}
.anton{
    font-family: 'Anton', sans-serif;
}

.bgc {
    background: #e6e6e6;
}

.top-row {
    height: 50px;
}

.grey-row {
    height: 25px;
}


.stack-logo {
    background-color: white;
    z-index: 2;

}
.logo {
    width: 20%;
    z-index: 1;
}


ul {
    display: inline-flex;
    list-style-type: none;
    flex-direction: row;
    padding-left: 0;
    color:black;
}

li {
    padding: 1em;
    justify-content: space-between;
}

li a {
    color: black;
}


h1 {
    padding-top: 25px   ;
    padding-bottom: 25px;
}

#select-w {
    padding: 1em;
}

.feat-p {
    padding: 0;
    margin: 0;
}

h5 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#circle-lg {
    height: 500px;
    max-width: 80%;
}

.circle-red {
    background-color: #e6563b;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 8px;
    border: solid white 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-orange {
    background-color: #dea03d;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 8px;
    border: solid white 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-green {
    background-color: #7cb06c;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 8px;
    border: solid white 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-teal {
    background-color: #008ba9;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 8px;
    border: solid white 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horz-rule {
    height: 50px;
}

.img-div {
    border: 15px
}

#featured section{
    max-width: 50%;
}
.sm-icon {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 1em;
    margin: 5px;
    width: 18px;
    height: 18px;
}

.sm-design-icon.sm-icon {
    border:1px solid #e6563b;
    background-color: #e6563b;
}

div.sm-develop-icon.sm-icon {
    border:1px solid #dea03d;
    background-color: #dea03d;
}

div.sm-support-icon.sm-icon {
    border:1px solid #7cb06c;
    background-color: #7cb06c;
}

div.sm-host-icon.sm-icon {
    border:1px solid #00aba9;
    background-color: #00aba9;
}
@media screen and (min-width: 576px) {   
}

 @media screen and (min-width: 768px) { 
 }


@media screen and (min-width: 992px) { 
 } 